[View in Colaboratory](https://colab.research.google.com/github/0utKast/angular34/blob/master/MiPrimeraApp.ipynb)

In [0]:
from __future__ import print_function

import math

from IPython import display
from matplotlib import cm
from matplotlib import gridspec
from matplotlib import pyplot as plt
import numpy as np
import pandas as pd
from sklearn import metrics
import tensorflow as tf
from tensorflow.python.data import Dataset

In [0]:
tf.logging.set_verbosity(tf.logging.ERROR)
pd.options.display.max_rows = 10
pd.options.display.float_format = '{:.1f}'.format

In [0]:
california_housing_dataframe = pd.read_csv("https://storage.googleapis.com/mledu-datasets/california_housing_train.csv", sep=",")

In [13]:
california_housing_dataframe = california_housing_dataframe.reindex(
    np.random.permutation(california_housing_dataframe.index))
california_housing_dataframe["median_house_value"] /= 1000.0
california_housing_dataframe

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
15541,-122.3,37.9,27.0,2158.0,424.0,1220.0,442.0,3.0,111.5
8039,-118.4,34.2,27.0,3760.0,880.0,2022.0,812.0,3.2,225.6
16583,-122.7,38.4,45.0,883.0,202.0,401.0,194.0,3.3,178.3
9189,-119.0,35.4,31.0,1607.0,336.0,817.0,307.0,2.6,73.0
13318,-121.9,37.3,26.0,6201.0,783.0,2381.0,819.0,8.0,397.0
...,...,...,...,...,...,...,...,...,...
7797,-118.4,34.1,28.0,2347.0,608.0,785.0,548.0,4.4,425.0
7912,-118.4,33.9,35.0,2217.0,447.0,1000.0,450.0,4.7,376.1
13762,-122.0,38.3,12.0,4132.0,710.0,2087.0,633.0,4.6,139.7
10127,-119.8,36.3,18.0,942.0,193.0,424.0,174.0,2.1,87.5
8814,-118.7,34.2,25.0,6612.0,857.0,2519.0,843.0,8.4,419.0

In [14]:
california_housing_dataframe.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,17000.0,17000.0,17000.0,17000.0,17000.0,17000.0,17000.0,17000.0,17000.0
mean,-119.6,35.6,28.6,2643.7,539.4,1429.6,501.2,3.9,207.3
std,2.0,2.1,12.6,2179.9,421.5,1147.9,384.5,1.9,116.0
min,-124.3,32.5,1.0,2.0,1.0,3.0,1.0,0.5,15.0
25%,-121.8,33.9,18.0,1462.0,297.0,790.0,282.0,2.6,119.4
50%,-118.5,34.2,29.0,2127.0,434.0,1167.0,409.0,3.5,180.4
75%,-118.0,37.7,37.0,3151.2,648.2,1721.0,605.2,4.8,265.0
max,-114.3,42.0,52.0,37937.0,6445.0,35682.0,6082.0,15.0,500.0

In [0]:

# Primer Paso: Definir las caracterÃ­sticas y configurar las denominadas columnas de caracterÃ­sticas

# Definir la caracterÃ­stica de entrada: total_rooms.
my_feature = california_housing_dataframe [["total_rooms"]]

In [0]:
# Configurar una columna numÃ©rica de caracterÃ­stica para total_rooms.
feature_columns = [tf.feature_column.numeric_column("total_rooms")]

In [0]:
# Segundo Paso : Definir el Objetivo (Target)

# Definir la etiqueta.
targets = california_housing_dataframe["median_house_value"]

In [0]:
# Tercer Paso: Configurar el LinearRegressor

# Usar descenso de gradiente como el optimizador para entrenar el modelo.
# Configurar una tasa de aprendizaje de 0.0000001 para Descenso de Gradiente.
my_optimizer=tf.train.GradientDescentOptimizer(learning_rate=0.0000001)
my_optimizer = tf.contrib.estimator.clip_gradients_by_norm(my_optimizer, 5.0)

In [0]:
# Configurar el modelo de regresiÃ³n lineal con nuestras columnas caracterÃ­stica y optimizador.
linear_regressor = tf.estimator.LinearRegressor(
    feature_columns=feature_columns,
    optimizer=my_optimizer
)